@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  margin: 0 auto;
  background-color: #150F55;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: #fff;
}
a:hover {
  color: #D18AA7;
}

.button {
  color: #fff;
  background-color: #591BE0;
  border-radius: 100px;
  cursor: pointer;
}
.button-small {
  padding: 12px 24px;
}
.button-medium {
  padding: 14px 30px;
}
.button-large {
  padding: 16px 30px;
  font-weight: 600;
  font-size: larger;
}

.maincontent {
  padding-top: 200px;
  margin-bottom: 120px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0 24px;
}

.header {
  background: url("../images/hero.jpg") no-repeat center center;
}
.header .header-content {
  display: flex;
  flex-direction: column;
}
.header .header-content .menu {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 58px;
  padding-bottom: 130px;
  font-size: larger;
  font-weight: 600;
}
.header .header-content .menu .logo {
  height: 45px;
}
.header .header-content .menu .nav {
  flex: 1;
}
.header .header-content .menu .nav .nav-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0 28px;
}
.header .header-content .menu .action {
  display: flex;
  align-items: center;
  gap: 0 22px;
}
.header .header-content .page-name {
  padding-bottom: 44px;
  font-size: 70px;
  font-weight: bold;
}
.header .header-content .page-link {
  padding-bottom: 274px;
  font-size: 20px;
  font-weight: 600;
}

main .container {
  position: relative;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3A2490;
  border-radius: 20px;
  min-width: 1360px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.filter .title {
  padding: 60px 0 40px;
  font-size: 40px;
  font-weight: bold;
}
.filter .inputs {
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 24px;
}
.filter .inputs input {
  background-color: transparent;
  outline: none;
  box-shadow: 0px;
  border: 1px solid #5ab0db;
  padding: 28px 20px;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
}

.team {
  display: flex;
  flex-direction: column;
  background-color: #3A2490;
  border-radius: 20px;
}
.team .title {
  padding: 16px 20px;
  font-weight: 600;
  font-size: 28px;
}
.team-items {
  padding: 20px;
}
.team-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #591BE0;
  padding: 20px 0;
}
.team-item input {
  margin-right: 18px;
  border: none;
  background-color: #281B6A;
  width: 20px;
  height: 20px;
}
.team-item img {
  width: 50px;
  margin-right: 10px;
}

.match-items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px 0;
}
.match-item {
  border-radius: 20px;
  overflow: hidden;
  background-color: #281B6A;
}
.match-item .date {
  background-color: #3A2490;
}
.match-item .date p {
  padding: 20px 40px;
}
.match-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 20px;
  border-bottom: 1px solid #591BE0;
}
.match-info .countdown {
  padding: 14px 38px;
  font-weight: bold;
  font-size: 40px;
  background-color: #1E623B;
  border-radius: 20px;
}
.match-team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.match-team .name {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 20px;
}
.match-team .location {
  color: #1E623B;
  font-weight: 600;
  margin-bottom: 30px;
}
.match-team img {
  width: 120px;
}
.match-actions {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=app.css.map */
