body {
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  //max-width: 1600px;
  margin: 0 auto;
  //background-color: #161616;
  background-color: $darkerblue;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: #fff;
  &:hover {
    color: $pink;
  }
}

.button {
  color: #fff;
  background-color: $lightblue;
  border-radius: 100px;
  cursor: pointer;

  &-small {
    padding: 12px 24px;
  }
  &-medium {
    padding: 14px 30px;
  }
  &-large {
    padding: 16px 30px;
    font-weight: 600;
    font-size: larger;
  }
}

.maincontent {
  padding-top: 200px;
  margin-bottom: 120px;

  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0 24px;

  @include maxw(1023px) {
    padding-top: 24px;
    margin-bottom: 50px;

    grid-template-columns: 1fr;
  }

  @include maxw(767px) {
  }

  .left {
    @include maxw(1023px) {
      display: none;
    }

    @include maxw(767px) {
    }
  }
}
