.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $blue;
  border-radius: 20px;
  width: 100%;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  .title {
    padding: 60px 0 40px;
    font-size: 40px;
    font-weight: bold;
  }
  .inputs {
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 24px;

    input {
      width: 100%;
      background-color: transparent;
      outline: none;
      box-shadow: 0px;
      border: 1px solid #5ab0db;
      padding: 12% 10%;
      border-radius: 10px;
      color: #fff;
      font-size: 20px;
    }
  }

  @include maxw(1023px) {
    display: none;
  }

  @include maxw(767px) {
  }
}
