.header {
  background: url("../images/hero.jpg") no-repeat center center;
  .header-content {
    display: flex;
    flex-direction: column;

    .menu {
      padding-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 58px;
      padding-bottom: 130px;
      font-size: larger;
      font-weight: 600;

      .logo {
        height: 45px;
      }
      .nav {
        flex: 1;

        .nav-items {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 0 28px;
        }
      }
      .action {
        display: flex;
        align-items: center;
        gap: 0 22px;
      }
    }
    .page-name {
      padding-bottom: 44px;
      font-size: 70px;
      font-weight: bold;
    }
    .page-link {
      padding-bottom: 274px;
      font-size: 20px;
      font-weight: 600;
    }
  }
}
