.left {
  background-color: #1e1e1e;
  border-radius: 20px;
  padding: 22px;

  .menu {
    display: flex;
    flex-direction: column;
    gap: 10px 0;

    &-option {
      display: flex;
      flex-direction: column;
      .collapse-button {
        color: #fff;
        padding: 10px 0;
      }
    }

    &-items {
      display: grid;
      grid-template-columns: 1fr;
      padding: 20px 0 20px 40px;
      min-width: 12vw;
      gap: 24px 0;
    }

    &-item {
      a {
        color: gray;
      }
      a:hover {
        color: #fff;
      }
    }
  }
}
