.team {
  display: flex;
  flex-direction: column;
  background-color: $blue;
  border-radius: 20px;

  .title {
    padding: 16px 20px;
    font-weight: 600;
    font-size: 28px;
  }

  &-items {
    padding: 20px;
  }

  &-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $lightblue;
    padding: 20px 0;

    input {
      margin-right: 18px;
      border: none;
      background-color: $darkblue;
      width: 20px;
      height: 20px;
    }
    img {
      width: 50px;
      margin-right: 10px;
    }
  }

  @include maxw(1023px) {
  }

  @include maxw(767px) {
  }
}