@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

$primary-font: 'Nunito Sans', sans-serif;
$lightblue: #591BE0;
$blue: #3A2490;
$darkblue: #281B6A;
$darkerblue: #150F55;
$green: #1E623B;
$pink: #D18AA7;